html {
  box-sizing: content-box;
  border: 16px solid black;
  font-size: 16px;
}

body {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding-inline: 33px;
  background-color: #f2f2f2;
  color: #333;
}

header {
  border-bottom: 1px solid black;
}

.menu {
  display: flex;
  gap: 0.625%;
}

nav a {
  flex: 1;
  text-decoration: none;
  outline-color: transparent;
  text-align: center;
  line-height: 3;
  color: #333;
}

nav a.active {
  margin-top: -1px;
  border-top: 1px solid black;
}

h1,
h2 {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-size: 1.5rem;
}

h2 {
  text-shadow: 1px 5px 1px yellow;
}

:root {
  --body-leading: 1.6;
  --container-padding: 1.5em;
  --container-width: 1260px;
  --gallery-gap: 1.5em;
  --gallery-item-border-radius: 0.4em;
  --gallery-items-per-row: 1;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gallery-gap);
  width: 90vw;
  padding: 10px;
  border: 4px solid black;
}

.gallery__item {
  background-color: white;
  border: 12px solid white;
  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
  flex: 0 0
    calc(
      100% / var(--gallery-items-per-row) - var(--gallery-gap) *
        (var(--gallery-items-per-row) -1) / var(--gallery-items-per-row)
    );
  figure {
    margin: 0;
  }
  figcaption {
    margin-top: 0.5rem;
    font-weight: bold;
  }
}

@media only screen and (width >= 1024px) {
  .gallery {
    --galler-items-per-row: 4;
  }
}

@media only screen and (768px < width < 1024px) {
  .img-gallery {
    --gallery-items-per-row: 3;
  }
}
@media only screen and (540px < width < 768px) {
  .img-gallery {
    --gallery-items-per-row: 3;
  }
}

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  font: 1em / var(--body-leading) sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.page-container {
  padding: var(--container-padding);
  max-width: var(--container-width);
  margin-right: auto;
  margin-left: auto;
}

footer {
  border-top: 1px solid black;
  margin-top: auto;
  display: block;
  bottom: 0;
  width: 100%;
  position: relative;
}
