body {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
header {
  padding: 10px 0;
}
footer {
  margin-top: auto;
  text-align: center;
  padding: 10px 0;
  display: block;
  bottom: 0;
  width: 100%;
}
